* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: black;
}

div{
    display: flex;
}
canvas{
    position: absolute;
}
.particles-js-canvas-el {
    top: 0; left: 0;
    background: radial-gradient(rgb(0, 0, 0), rgba(28, 42, 56, 0.5));
}